<br>
<h1 class="card-cocktail-title">Les cocktails au menu</h1>
<br>
<% @cocktails.each do |cocktail| %>
  <div class="card-cocktail">
    <div class="card-cocktail-img">
      <%= image_tag(cocktail.photo, size: "300x300") %>
    </div>
    <div class="card-cocktail-infos">
      <h2><%= link_to cocktail.name, cocktail_path(cocktail.id) %></h2>
      <p>Description type pour chaque cocktail.</p>
    </div>
  </div>
  <br>
<% end %>
<br>
