<h1>My cocktails</h1>

<%= cl_image_tag("mojito-cocktails-814a3f7_gkllij",
      width: 400, height: 300, crop: :fill) %>

<% @cocktails.each do |cocktail| %>
  <li>
  <%= link_to cocktail.name, cocktail_path(cocktail.id) %>
  </li>
<% end %>

<br>
<br>
<br>
<br>
<br>
<br>
