<h1>My cocktails</h1>

<% @cocktails.each do |cocktail| %>
  <li>
  <%#= cl_image_tag cocktail.photo.key, height: 300, width: 400, crop: :fill %>
  <%= link_to cocktail.name, cocktail_path(cocktail.id) %>
  </li>
<% end %>
<br>
