// Specific CSS for your home-page

html, body {
	overflow-x: hidden;
}

.home-container {
    display: block;
    margin: 0 200px 0;
    padding: 20px 40px;
}

.home-intro h5 {
    color: grey;
    font-weight: 600;
}

.home-intro p {
    color: grey;
}

.home-videos {
	margin: 0 -9999rem;
	padding: 0.25rem 9999rem;
	background: lightgrey;
	margin-bottom: 20px;
}

.carrousel-alc {

}

.home-all-cocktails-link {

}

.home-all-cocktails-link-banner {

}

.home-newsletter {

}

.home-newsletter-signup {

}

.home-newsletter-photo {

}