// Specific CSS for your home-page

html, body {
	overflow-x: hidden;
}

.home-container {
    display: block;
    margin: 0 200px 0;
    padding: 20px 40px;
}

.home-intro h5 {
    color: orange;
    font-weight: 600;
}

.home-intro p {
    color: grey;
}

.home-videos {
	margin: 0 -9999rem;
	padding: 0.25rem 9999rem;
	background: lightgrey;
	margin-bottom: 20px;
}

.myCarousel {
    /* TO DO */
}

.home-all-cocktails-link {
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1591243315780-978fd00ff9db?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&ixid=eyJhcHBfaWQiOjEyMDd9);
    width: 910px;  
    height: 300px;
    margin-bottom: 20px;
    position: relative;
}

.home-all-cocktails-link-text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
    color: orange;
}

.home-newsletter {
    margin: 0 -9999rem;
	padding: 0.25rem 9999rem;
	background: lightgrey;
}

.home-newsletter-container {
    display: flex;
    align-items: center;
}

.home-newsletter-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 310px;
    height: 400px;
    background-color: white;
    padding: 20px;
}

.home-newsletter-photo {
    margin-left: 30px;
}

