<div class="body">
  <div class="container">
    <h1>Inscription to the Newsletter!</h1>
    <p>Every 3 months we are going to send you our selection of the best cocktails available</p>
    <%= form_for @newsletter do |f| %>
      <%= f.text_field :email, :style => "width:100%;", :placeholder => "Your email address", :class => "form-control input-sm" %>
      <%= f.submit "Inscription", :class => "btn btn-primary btn-sm" %>
    <% end %>
  </div>
</div>
