<footer class="footer-bs">
    <div class="row">
        <div class="col-md-2 footer-brand animated fadeInLeft">
            <%= link_to "#", class: "footer-brand" do %>
            <%= image_tag("logo-header.png", size: "115x50") %>
            <% end %>
        </div>
        <div class="col-md-1 footer-social animated fadeInDown">
            <h4>SELECTION</h4>
            <ul>
                <h1><li><a href="#">All cocktails</a></li></h1>
                <h1><li><a href="#">The Classics</a></li></h1>
                <h1><li><a href="#">TOP 25</a></li></h1>
            </ul>
        </div>
        <div class="col-md-1 footer-social animated fadeInDown">
            <h4>USUALS</h4>
            <ul>
                <h1><li><a href="#">Mojito</a></li></h1>
                <h1><li><a href="#">Fizz</a></li></h1>
                <h1><li><a href="#">Punch</a></li></h1>
                <h1><li><a href="#">Sour</a></li></h1>
            </ul>
        </div>
        <div class="col-md-1 footer-social animated fadeInDown">
            <h4>IDEAS AND SUGGESTIONS</h4>
            <ul>
                <h1><li><a href="#">Special offer</a></li></h1>
                <h1><li><a href="#">Cocktails tips</a></li></h1>
                <h1><li><a href="#">In my fridge</a></li></h1>
            </ul>
        </div>
        <div class="col-md-1 footer-social animated fadeInDown">
            <h4>GOING OUT</h4>
            <ul>
                <h1><li><a href="#">Breathalyser</a></li></h1>
                <h1><li><a href="#">News</a></li></h1>
            </ul>
        </div>
        <div class="col-md-1 footer-social animated fadeInDown">
            <h4>CLUB</h4>
            <ul>
                <h1><li><a href="#">Favorite Cocktails</a></li></h1>
            </ul>
        </div>
        <div class="col-md-1 footer-social animated fadeInDown">
            <h4>GLOSSARY</h4>
        </div>
        <div class="col-md-1 footer-social animated fadeInDown">
            <h4>CONTACT</h4>
        </div>
    </div>
    <div class="footer-info">
        ___________________________________________________________________________________________________________________________________________
        <p class="copyright">All rights reserved Atelier Cocktail 2014© - <a class="video-legal legal-new" href="https://www.atelier-cocktail.com/accueil/mentions-legales/">Legal notice</a> <a class="video-legal legal-new" href="https://www.atelier-cocktail.com/charte-confidentialite/">Privacy Policy</a> Alcohol abuse is dangerous for your health. Drink in moderation</p>
        <a href="http://www.appsolute.fr/" class="appsolute"><img src="https://www.atelier-cocktail.com/wp-content/themes/atelier-cocktail/images/appsolute-logo.jpg" alt="appsolute" width="" height=""></a>
    </div>
</footer>
