<footer class="footer-bs">
    <div class="row">
        <div class="col-md-3 footer-brand animated fadeInLeft">
            <%= link_to "#", class: "navbar-brand" do %>
            <%= image_tag("logo-header.png", size: "100x100") %>
            <% end %>
        </div>
        <div class="col-md-2 footer-social animated fadeInDown">
            <h4>SELECTION</h4>
            <ul>
                <p><li><a href="#">Tous les cocktails</a></li></p>
                <p><li><a href="#">Les classiques</a></li></p>
                <p><li><a href="#">TOP 25</a></li></p>
            </ul>
        </div>
        <div class="col-md-2 footer-social animated fadeInDown">
            <h4>POPULAIRES</h4>
            <ul>
                <p><li><a href="#">Mojito</a></li></p>
                <p><li><a href="#">Fizz</a></li></p>
                <p><li><a href="#">Punch</a></li></p>
                <p><li><a href="#">Sour</a></li></p>
            </ul>
        </div>
        <div class="col-md-2 footer-social animated fadeInDown">
            <h4>IDEES ET SUGGESTIONS</h4>
            <ul>
                <p><li><a href="#">Occasions spéciales</a></li></p>
                <p><li><a href="#">Les gestes cocktails</a></li></p>
                <p><li><a href="#">Dans mon frigo</a></li></p>
            </ul>
        </div>
        <div class="col-md-2 footer-social animated fadeInDown">
            <h4>JE SORS</h4>
            <ul>
                <p><li><a href="#">Ethylomètre</a></li></p>
                <p><li><a href="#">Actus</a></li></p>
            </ul>
        </div>
        <div class="col-md-2 footer-social animated fadeInDown">
            <h4>LE CLUB</h4>
            <ul>
                <p><li><a href="#">Cocktails favoris</a></li></p>
            </ul>
        </div>
        <div class="col-md-2 footer-social animated fadeInDown">
            <h4>GLOSSAIRE</h4>
        </div>
        <div class="col-md-2 footer-social animated fadeInDown">
            <h4>CONTACT</h4>
        </div>
    </div>
    <div class="footer-info">
        <p class="copyright">Tout droits reservés Atelier Cocktail 2014© - <a class="video-legal legal-new" href="https://www.atelier-cocktail.com/accueil/mentions-legales/">Mention Legales</a> <a class="video-legal legal-new" href="https://www.atelier-cocktail.com/charte-confidentialite/" style="margin-left:10px;">Charte de confidentialité</a></p>
        <p class="warning">L'abus d'alcool est dangereux pour la santé. À consommer avec modération</p>
        <a href="http://www.appsolute.fr/" class="appsolute"><img src="https://www.atelier-cocktail.com/wp-content/themes/atelier-cocktail/images/appsolute-logo.jpg" alt="appsolute" width="" height=""></a>
    </div>
</footer>
