<div class="home-container">
    <div class="home-intro">
        <h5>Cocktail recipes & cocktail ideas !</h5>
        <p>
        Atelier Cocktail offers you a large choice of cocktail recipes with different alcohols
        (rum cocktail, whisky cocktail, champagne cocktail, gin cocktail...),
        as well as tips on how to create cocktails and how to make cocktails easily.
        Practical advice and cocktail tips to impress your friends...
        According to your desires, tastes, alcohols and ingredients available at home, we propose you ideas of recipe of cocktails.
        </p>
    </div>
    <div class="home-videos">
        <%= video_tag url_for(Cocktail.last.video), size: "900x300", controls: true %>
    </div>
    <div class="myCarousel">
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <% img_urls = Ingredient.new.image_urls %>
            <% indics = img_urls.count.times.map { |index| index.zero? ? "<button type='button' data-bs-target='#carouselExampleIndicators' data-bs-slide-to='#{index}' class='active' aria-current='true' aria-label='Slide #{index+1}'></button>" : "<button type='button' data-bs-target='#carouselExampleIndicators' data-bs-slide-to='#{index}' aria-label='Slide #{index+1}'></button>" } %>
            <% indics.each { |el| el.html_safe } %>
        </div>
        <div class="carousel-inner">
            <% slides = img_urls.map.with_index { |image, index| index.zero? ? "<div class='carousel-item active'><img src='#{image}' class='d-block w-100'></div>" : "<div class='carousel-item'><img src='#{image}' class='d-block w-100'></div>" } %>
            <% slides.each { |el| el.html_safe } %>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
        </div>
    </div>
    <div class="home-all-cocktails-link">
        <%= link_to "All the cocktails that you want & need!", cocktails_path, class: "home-all-cocktails-link-text" %>
    </div>
    <div class="home-newsletter">  
        <div class="home-newsletter-container">
            <div class="home-newsletter-box">
                <%= render "shared/form", newsletter: @newsletter %>
            </div>
            <div class="home-newsletter-photo">
                <%= image_tag("cocktail_signup.png", size: "570x400") %>
            </div>
        </div>
    </div>
</div>
