<div class="home-container">
    <div class="home-intro">
        <h5>Cocktail recipes & cocktail ideas !</h5>
        <p>
        Atelier Cocktail offers you a large choice of cocktail recipes with different alcohols
        (rum cocktail, whisky cocktail, champagne cocktail, gin cocktail...),
        as well as tips on how to create cocktails and how to make cocktails easily.
        Practical advice and cocktail tips to impress your friends...
        According to your desires, tastes, alcohols and ingredients available at home, we propose you ideas of recipe of cocktails.
        </p>
    </div>
    <div class="home-videos">
        Videos to be uploaded
    </div>
    <div class="home-all-cocktails-link">
        <div class="home-all-cocktails-link-banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1591243315780-978fd00ff9db?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&ixid=eyJhcHBfaWQiOjEyMDd9);">
            <%= link_to "All the cocktails that you want & need!", cocktails_path %>
        </div>
    </div>
    <div class="home-newsletter">
        <div class="home-newsletter-signup">
            <%= link_to "All the cocktails that you want & need!", cocktails_path %>
        </div>
        <div class="home-newsletter-photo">
            <%= link_to "All the cocktails that you want & need!", cocktails_path %>
        </div>
    </div>
</div>

