<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(/assets/cocktail-background.jpeg);">
  <div class="container">
    <h1>Inscrivez vous pour <strong>noter toutes les recettes cocktails</strong> &
    <strong>ajouter vos cocktails et bars favoris à votre espace personnel</strong>!</h1>
  </div>
</div>
