// Place all the styles related to the cocktails controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.body {
    background-color: #EAEAEA;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cocktail-show-top-side {

}

.cocktail-show-top-side-item {

}

.cocktail-show-top-side-item.one {

}

.cocktail-show-top-side-item.two {

}

.cocktail-show-top-side-item.three {

}

.cocktail-show-left-side {

}

.cocktail-show-left-side.title.photo {

}

.cocktail-show-left-side.title {

}

.cocktail-show-left-side.photo {

}

.cocktail-show-left-side.doses {

}

.cocktail-show-left-side.doses.dropdown {

}

.cocktail-show-left-side.doses.description {

}

.cocktail-show-left-side.recipe {

}

.cocktail-show-right-side {

}

.cocktail-show-right-side.properties {

}

.cocktail-show-right-side.ingredients {

}

.cocktail-show-bottom-side {
    
}

.cocktail-show-bottom-side-suggestion {

}

.cocktail-show-bottom-side-suggestion.one {

}

.cocktail-show-bottom-side-suggestion.two {

}

.cocktail-show-bottom-side-suggestion.three {

}

.cocktail-show-bottom-side.previous.next {

}

.cocktail-show-bottom-side.previous {

}

.cocktail-show-bottom-side.next {

}
