// Place all the styles related to the cocktails controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.body {
    background-color: #EAEAEA;
    min-height: 100%;
}

.container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(12, 1fr);
    gap: 20px;
    width: 900px;
    height: 1800px;
}

.cocktail-show-top-side {
    grid-column: 1 / 7;
    grid-row: 1 / 2;
    background-color: #EAEAEA;
    margin-top: 20px;
}

.cocktail-show-top-side-item {
    display: flex;
    justify-content: start;
}

.cocktail-show-top-side-item.one {
    width: 160px;
    height: 40px;
    position: relative;
    background:white;
    margin: 10px;
    p {
        left: 30px;
        top: 5px;
        position: relative;
    }
}

.cocktail-show-top-side-item.one::before {
    content: "";
    position: absolute;
    right: -20px;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 20px solid white;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
}

.cocktail-show-top-side-item.one::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 20px solid #EAEAEA;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
}

.cocktail-show-top-side-item.two {
    width: 160px;
    height: 40px;
    position: relative;
    background:white;
    margin: 10px;
    p {
        left: 30px;
        top: 5px;
        position: relative;
    }
}

.cocktail-show-top-side-item.two::before {
    content: "";
    position: absolute;
    right: -20px;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 20px solid white;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
}

.cocktail-show-top-side-item.two::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 20px solid #EAEAEA;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
}

.cocktail-show-top-side-item.three {
    width: 160px;
    height: 40px;
    position: relative;
    background: #ffa500;
    color: white;
    margin: 10px;
    p {
        left: 30px;
        top: 5px;
        position: relative;
    }
}

.cocktail-show-top-side-item.three::before {
    content: "";
    position: absolute;
    right: -20px;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 20px solid #ffa500;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
}

.cocktail-show-top-side-item.three::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 20px solid #EAEAEA;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
}

.cocktail-show-left-side {
    grid-column: 1 / 5;
    grid-row: 2 / 9;
    background-color: white;
}

.cocktail-show-left-side.title.photo {
    display: flex;
    flex-direction: column;
}

.cocktail-show-left-side.title {
    position: relative;
    margin-left: 20px;
    margin-bottom: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    text-transform: uppercase;
}

.cocktail-show-left-side.photo {
    position: relative;
    margin-left: 0px;
}

.cocktail-show-left-side.doses {
    display: flex;
    flex-direction: column;
}

.cocktail-show-left-side.doses.dropdown {
    
}

.cocktail-show-left-side.doses.description {
    
}

.cocktail-show-left-side.doses.recipe {

}

.cocktail-show-right-side {
    grid-column: 5 / 7;
    grid-row: 2 / 9;
    background-color: #EAEAEA;   
}

.cocktail-show-right-side-row {
    width: auto;
    height: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.cocktail-show-right-side.properties {
    display: flex;
    flex-direction: column;
    flex: auto;
    background-color: white;
}

.cocktail-show-right-side.properties.item {
    border: solid #EAEAEA 1px;
    padding: 5px;
    height: 50px;
    text-align: center;
}

.cocktail-show-right-side.alc-ing {
    display: flex;
    flex-direction: column;
    flex: auto;
    background-color: white;
}

.cocktail-show-right-side.alc-ing.title {
    border: solid #EAEAEA 1px;
    padding: 5px;
    height: 50px;
    text-align: center;
}

.cocktail-show-right-side.alc-ing.image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 250px;
}

.cocktail-show-right-side.non-alc-ing {
    text-align: center;
    background-color: white;
    width: 400px;
    height: 520px;
}

.cocktail-show-bottom-side {
    grid-column: 1 / 7;
    grid-row: 9 / 13;
    background-color: white;
    margin-bottom: 20px;
}

.cocktail-show-bottom-side-suggestion {

}

.cocktail-show-bottom-side-suggestion.one {

}

.cocktail-show-bottom-side-suggestion.two {

}

.cocktail-show-bottom-side-suggestion.three {

}

.cocktail-show-bottom-side.previous.next {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cocktail-show-bottom-side.previous {

}

.cocktail-show-bottom-side.next {

}
