// Place all the styles related to the Newsletters controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.newsletter-body {
    background-color: #FFA500;
    margin-top: -200px;
    min-height: 100%;
    opacity: 0.7;
}

.newsletter-container {
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.newsletter-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 500px;
    margin-top: 400px;
    margin-bottom: 300px;
    padding: 20px;
    background-color: white;
}

.flex-inscription-home {
    display: flex;
    justify-content: space-around;
    width: 400px;
}
